.about_div {
	/* width: 100%; */
	/* background-color: #161616; */
	/* color: #fff; */
	padding: 7% 15%;
}

.about_div p {
	/* width: 60%; */
	font-size: 1.5rem;
	font-weight: 600;
}

/* Styles for mobile */
@media only screen and (max-width: 480px) {
	/* Your mobile-specific styles go here */
	.about_div p {
		/* width: 60%; */
		font-size: 1.2rem;
		font-weight: 600;
	}
}
